html, body {
    border: 0;
}

body {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    width: 700px;
    padding: 1em;
    text-align: center;
    
    background-color: gray;
    color: white;
}

img {
    height: 150px;
    width: 150px;
}

.name {
    margin: 0.5em;
    font-family: 'Muli', sans-serif;
}

.email {
    font-size: 1.2em;
    font-style: italic;
    font-family: 'Encode Sans', sans-serif;
}

.content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.button-group {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 4em;
}